* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Ethnocentric RG';
    src: url('other/Ethnocentric-Regular.woff') format('woff'),
        url('other/Ethnocentric-Regular.woff2') format('woff2');
    font-weight: 900; 
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, 'Times New Roman', Times, serif;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logos {
    width: auto;
    max-width: 150px;
    height: auto;
    margin: 1rem 0 1rem 10rem;
    transition: transform 0.3s;
}
.header .name {
    width: auto;
    max-width: 400px;
    height: auto;
    margin: 1rem;
}
.header .logos:hover {
    transform: scale(1.1);
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header li {
    margin-left: 2rem;
    font-size: 3rem;
    padding: 1rem;
}

.header li a {
    text-decoration: none;
    color: #F9FAF8;
    transition: color 0.5s, transform 0.3s; 
    display: inline-block;
    padding: 0.5rem 1rem;
}

.header li a:hover {
    color: #6394f7;
    transform: scale(1.1);
}

.logo {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    margin-right: 15rem;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.first {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #263448;
    color: #F9FAF8;
    width: 100%;
    padding-bottom: 5rem;
}

.title {
    font-family: 'ethnocentric RG', sans-serif;
    font-size: 4vw;
    font-weight: 900;
    margin: 3rem 10rem;
}
.first img {
    max-width: auto;
    height: 750px;
    margin: 3rem;
    margin-right: 15rem;
    border-radius: 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.3s;
}
.first img:hover {
    transform: scale(1.25);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 10rem 4rem 10rem;
}

.first .text {
    font-size: 2.5rem;
    line-height: 1.75;
    letter-spacing: 0.5px;
    margin: 3rem 10rem 4rem 10rem;
    padding: 3rem;
    text-align: justify;
    background-color: #1f2937bd;
    border-radius: 20px;
}

.button {
    background-color: #2563EB;
    color: #F9FAF8;
    padding: 1.5rem 3rem;
    margin-left: 25rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 3rem;
    transition: background-color 0.5s, transform 0.5s;
}

.button:hover {
    background-color: #1E40AF;
    transform: scale(1.1);
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    color: #1F2937;
    width: 100%;
}
.top {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-family: 'ethnocentric RG';
}
.pics {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem;
    width: 100%;
    text-align: center;
}
.pics img {
    width: auto;
    max-width: 600px;
    height: auto;
    margin: 1rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    transition: transform 0.3s;
}
.pics img:hover {
    transform: scale(1.75);
}
.pics .text {
    font-size: 2.5rem;
    line-height: 1.5;
    letter-spacing: .5px;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #E5E7EB;
    color: #000000;
    width: 100%;

}
.third p {
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: .5px;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: justify;

}
.third h4 {
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 5rem;
    align-self: flex-end;
    text-align: right;
    width: 100%;
    margin-bottom: 7rem;
    margin-right: 20%;
}
.fourth-container {
    background-color: #ffffff; 
    padding: 20rem;
    box-sizing: border-box; 
    width: 100%;
}

.fourth {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start;
    background-color: #3882f6;
    color: #000000;
    width: 100%;
    border-radius: 30px;
    padding: 2rem; 
    box-sizing: border-box;
}

.fourth .text-container {
    display: flex;
    flex-direction: column; 
    width: 70%; 
    padding: 5rem;
}

.fourth h1 {
    font-family: 'ethnocentric rg';
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-align: left; 
    margin-left: 10rem;
}

.fourth p {
    font-size: 3rem;
    color: white;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-left: 10rem;
}

.fourth .but {
    background-color: #2563EB;
    color: #F9FAF8;
    padding: 3rem 6rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 6rem; 
    transition: background-color 0.5s, transform 0.5s;
    align-self: center; 
    margin-right: 20rem; 
}

.fourth .but:hover {
    background-color: #1E40AF;
    transform: scale(1.1);
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 4rem;
    justify-content: center;
    align-items: center;
}
