body {
    margin: 0;
    padding: 0;
    font-family: Arial, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 1rem 2rem;
    width: 100%;
}

.header img {
    width: auto;
    max-width: 100px;
    height: auto;
    margin: 1rem;
    transition: transform 0.3s;
}
.header img:hover {
    transform: scale(1.1);
}

.header h1 {
    margin: 0;
    font-size: 5rem;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header li {
    margin-left: 2rem;
    font-size: 3rem;
    padding: 1rem;
}

.header li a {
    text-decoration: none;
    color: #F9FAF8;
    transition: color 0.5s; 
    display: inline-block;
    transition: transform 0.3s;
    padding: 0.5rem 1 rem;
}

.header li a:hover {
    color: #6394f7;
    transform: scale(1.1);
}

.logo {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    margin-right: 2rem;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263448;
    color: #F9FAF8;
    width: 100%;
    padding-bottom: 5rem;
}

.first img{
    width: auto;
    max-width: 900px;
    height: auto;
    margin: 3rem;
    border-radius: 30px;
}

.title{
    font-size: 7rem;
    font-weight: 900;
    margin: 3rem;
}

.first .text {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: .5px;
    margin: 3rem;
    margin-right: 150px;
    padding: 1rem;
    text-align: justify;
    background-color: #1f2937bd;
    border-radius: 20px;
    margin-bottom: 4rem;
}
.button {
    background-color: #2563EB;
    color: #F9FAF8;
    padding: 1.5rem 3rem;
    margin-left: 6rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 3rem;
    transition: background-color 0.5s;
    transition: transform 0.5s;
}

.button:hover {
    background-color: #1E40AF;
    transform: scale(1.1);
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    color: #1F2937;
    padding: 3rem;
    width: 100%;
}
.top {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.pics {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 2rem;
    text-align: center;
}
.pics img {
    width: auto;
    max-width: 400px;
    height: auto;
    margin: 1rem;
    border-radius: 30px;
    margin-bottom: 4rem;
}
.phone img {
    width: auto;
    max-width: 600px;
    height: auto;
    margin: 1rem;
    border-radius: 30px;
    margin-bottom: 4rem;
}
.pics .text {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: .5px;
    margin: 1.5rem;
    margin-right: 150px;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
}